<div
  role="alert"
  class="flash"
  popover="manual"
  {{on "toggle" this.onToggle}}
  {{on "beforetoggle" this.onBeforeToggle}}
  {{show-popover duration=this.duration}}
  ...attributes
>
  {{yield}}
</div>