<div class="flash-list" aria-live="assertive" ...attributes>
  <div class="w-full flex flex-col items-start justify-start">
    {{#each this.notifications.queue as |notification|}}
      <FlashNotification
        class={{notification.type}}
        @notification={{notification}}
        @onClose={{this.removeNotification}}
      />
    {{/each}}
  </div>
</div>