<FlashNotifications as |notification|>
  <FlashNotification @notification={{notification}}>
    <div class="bg-rose-500 text-white p-2 rounded-sm">{{notification.message}}</div>
  </FlashNotification>
</FlashNotifications>