<FlashNotifications as |notification|>
  <FlashNotification @notification={{notification}} @onClose={{this.onClose}}>
    <div class="relative info">
      {{notification.message}}
      <div class="absolute top-1 right-1 flex-shrink-0 flex">
        <div role="button" name="close" class="flash-close">
          <span class="sr-only">Close</span>
          <Icons::FasTimes role="presentation" class="h-4 w-4" />
        </div>
      </div>
    </div>
  </FlashNotification>
</FlashNotifications>